/*------------------------------------*\
    $GRID 1
\*------------------------------------*/

.grid--1 {
    display: grid;
    grid-gap: 30px;

    > * {
        min-height: 230px;
        background-color: #f72a6c;
    }

    header {
        grid-column: 1 / 10;
    }

    aside {
        grid-column: 1 / 4;
        grid-row: 2 / 4;
    }

    main {
        grid-column: 4 / 10;
    }

    .fourth {
        grid-column: 4 / 7;
    }

    .fifth {
        grid-column: 7 / 10;
    }
}
