/*------------------------------------*\
    $GRID BASE
\*------------------------------------*/

$grid-gap: 30px;

.grid {
    display: grid;
    // sass-lint:disable no-misspelled-properties
    grid-gap: $grid-gap;
    // sass-lint:enddisable

    > * {
        min-height: 230px;
    }
}
